# **Практическое занятие по Pandas**

In [ ]:
import pandas as pd
import numpy as np

#### **Задание 1.**

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам.
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5.



##### Пояснения:
2. Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1].

3. Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4]. А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [ ]:
values = np.linspace(0, 20, 15)
series = pd.Series(values)
ratios = series / series.shift(1)
filtered_ratios = ratios[ratios <= 1.5]
mean_value = filtered_ratios.mean()

print("Исходная Series:")
print(series)
print("\nОтношения элементов к предыдущим:")
print(ratios)
print("\nОтфильтрованные отношения (<= 1.5):")
print(filtered_ratios)
print("\nСреднее значение отфильтрованных отношений:")
print(mean_value)

Исходная Series:
0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64

Отношения элементов к предыдущим:
0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

Отфильтрованные отношения (<= 1.5):
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

Среднее значение отфильтрованных отношений:
1.181677812927813

#### **Задание 2.**

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям.

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат.
3. Выберите из s только целочисленные элементы и вычислите их дисперсию.

Все полученные результаты округлите до 2-х знаков после запятой.

##### Пояснения:
3. Целочисленные значения - значения, имеющие тип int.
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], index=range(6, 26, 2))
s1 = pd.Series(data=s.values, index=range(2, 12))
if isinstance(s1.loc[3], str) or isinstance(s1.loc[5], str):
    print("Ошибка: Сложение строки с числом!")
    n = str(s1.loc[3]) + str(s1.loc[5])
    print('Сумма ', n)
else:
    n = np.sum(s1.loc[[3, 5]])
    n = round(n, 2)
    print(f"Сумма элементов с индексами 3 и 5: {n}")
k = s1[s1.map(lambda x: isinstance(x, int))]
f = k.var(ddof=1)
f = round(f, 2)
print(f"Дисперсия целочисленных элементов: {f}")

Ошибка: Сложение строки с числом!
Сумма  2hi!
Дисперсия целочисленных элементов: 76788.25

#### **Задание 3.**
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза.
3. Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса.
4. Выведите количество значений серии меньше нуля.

#### Пояснения:
 - Следует внимательнее использовать [ ] для выбора данных по нескольким условиям: либо выбирать данные последовательно, либо сразу по нескольким условиям, но через оператор &. Отличие оператора and от оператора &: and - выводит последнее проверенное значение, & - выводит пересечение значений.
Пример: s[ _  &  _ ].sum()

In [ ]:
np.random.seed(242)
s = pd.Series(np.random.normal(loc=0, scale=1, size=100))
s1 = s**3
s1.index = s1.index * 3
s2 = s1[(s1 < 2.6) & (s1.index % 2 != 0)].sum()
s3 = s.where(s < 0)
print(s3)

0    -0.357519
1          NaN
2          NaN
3          NaN
4    -0.744026
        ...
95         NaN
96         NaN
97   -0.739985
98   -1.376260
99         NaN
Length: 100, dtype: float64

###***Информация для последующих заданий***
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

#### **Задание 4.**
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [ ]:
df = pd.read_csv('tr_types.csv', delimiter=';')
d = df.sample(100, random_state=242)
p = d['tr_description'].str.contains('плата', case=False).mean()
pp = round(p, 2)
print(pp)

0.26

#### **Задание 5.**
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

In [ ]:
t = pd.read_csv("transactions.csv", nrows=1000000, delimiter=',')
tr = t['tr_type'].value_counts()
f = tr.head(5)
print(f)

tr_type
1010    231117
2010    151166
7070    149006
1110    137658
1030    118975
Name: count, dtype: int64

#### **Задание 6.**
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>

In [ ]:
t = pd.read_csv("transactions.csv", nrows=1000000, index_col='customer_id', usecols=['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id'])
groups = t.groupby('customer_id')['amount'].max()  # Мах для каждого клиента
g = groups.max()  # Мах из всех мах
c = groups.idxmax()  # ID клиента с максимальным значением
print(g, c)

145984525.17 26782922

#### **Задание 7.**
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.

В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.read_csv("transactions.csv", nrows=1000000, delimiter=',')
tr_types = pd.read_csv('tr_types.csv', delimiter=';')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', delimiter=';')
merged_data = pd.merge(transactions, tr_mcc_codes, on='mcc_code', how='inner')
merged_data = pd.merge(merged_data, tr_types, on='tr_type', how='inner')
merged_data = pd.merge(merged_data, gender_train, on='customer_id', how='left')
num_rows = merged_data.shape[0]
print(f"Количество строк в merged_data: {num_rows}")

Количество строк в merged_data: 999584

#### **Задание 8**
Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3], то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

In [ ]:
negt = merged_data[merged_data['amount'] < 0]
mean_wom = negt[negt['gender'] == 0]['amount'].mean()
mean_men = negt[negt['gender'] == 1]['amount'].mean()
diff = abs(mean_wom - mean_men)
print(f"{diff:.2f}")

32718.05

#### **Задание 9**

1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (*)
2. Оставьте только наблюдения с отрицательным значением amount.

##### Пояснения:
(*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии.
Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

In [ ]:
transactions['mcc_code_tr_type'] = transactions['mcc_code'].astype(str) + "+" + transactions['tr_type'].astype(str)
transactions = transactions[transactions['amount'] < 0]
print(transactions)

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id  \
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
5          39026145    2 15:53:49      5541     1010 -14643.37       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

       mcc_code_tr_type
0             4814+1030
2             4829+2330
3             5499+1010
4             5499+1010
5             5541+1010
...                 ...
999995        5921+1010
999996        5211+1010
999997        5921+1010
999998        5211+1010
999999        5921+1010

[769061 rows x 7 columns]